/* general styling  */

*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}
header {
    
    background-color: rgb(255, 255, 255);
}
.topbar {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: transparent;
    padding: 0.8rem;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    position: fixed;

}

.logo {
    color: white;
    font-size: 4rem;
    margin-left: 4%;
}

.logo img {
    width: 30%;
    height: auto;
}

.links {
    display: flex;
    text-align: center;
    margin-right: 8%;
}

.links a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
}
.links a:hover{
    text-decoration: underline rgb(28, 166, 187);
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.15rem;
    transition: .4s;
}

.image{
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}
.image img{
    width: 30%;
    height: auto;
}
.welcome {
    max-width: 700px; 
    margin: 0 auto; 
    text-align: justify; 
    line-height: 1.6; 
    font-size: 1.2rem; 
  }

  .welcome h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }

.about-section {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.8; 
    font-family: Arial, sans-serif; 
    padding-top: 5%;
  }

  .about-section h1 {
    font-size: 36px;
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center;
  }

  .about-section blockquote {
    color: #00aaff;
    font-size: 18px; 
    font-style: italic;
    margin: 20px 0; 
    text-align: justify;
  }

  .about-section p {
    font-size: 18px; 
    margin: 10px 0; 
  }


.core-values {
    text-align: center;
    max-width: 93%;
    margin: 0 auto;
    padding-top: 5%;
}

.core-values h2 {
    font-family:  'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.core-values .highlight {
    color: #00aaff;
}

.values-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.value-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 22%;
    text-align: center;
}
.value-item:hover{
    transform: scale(1.04);
}

.value-item .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.value-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.value-item p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}
.pro h2{
    text-align: center;
    font-size: 2.5rem;
    color: #000000;
    padding-top: 4rem;
}
.pro h2 #highlight{
    color: #00aaff;
}
.programs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
}

.program-image img {
    height: auto;
    object-fit: cover;
    width: 70%;
    border-radius: 10px;
    margin-left: 4%;
}
.program-text {
    flex: 1;
    margin-left: 1%;
    padding-top: 10%;
}

.program-text h2 {
    color: black;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
}

.program-text h3 {
    color: black;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.program-text p {
    font-size: 16px;
    line-height: 1.6;
    color:black;
    font-size: 1.3rem;
}

/*the team css*/

.team-section {
    padding-top: 5%;
    max-width: 93%;
    margin: 0 auto;
}

.team-section h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.team-section .highlight {
    color: #5b5bff;
}

.team-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.team-member {
    background-color: white;
    padding: 20px;
    width: 30%;
    margin-bottom: 2rem;

}

.team-member .team-img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.team-member .team-img:hover {
    transform: scale(1.04);
}
.team-member h2 {
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
}
.team-member h2:hover {
    text-decoration: underline brown;
    text-underline-offset: 0.11rem;
    text-decoration-thickness: 0.1rem;
    cursor: pointer;
}
.team-member h3 {
    font-size: 1.5rem;
    padding-top: 0.3rem;
    color: #333;
}

.social-media-icons {
    display: flex;
    font-size: 1.3rem;
    gap: 1rem;
    margin-top: 0.7rem;
}

.social-media-icons icon a:hover {
    transform: scale(1.01);
    color: #0606f7;
    cursor: pointer;
}
